#thumb {
    height: 150px;
    width: 100px;
}

#prettyTable {
    border: darkgray;
    border-style: solid;
    width: 60%;
    padding: 0.5em;
}

tr:hover {
    background-color: rgb(229, 240, 243);
}