@font-face {
    font-family: 'tower-pattern';
    src:
      url('fonts/tower-pattern.ttf?xqd22m') format('truetype'),
      url('fonts/tower-pattern.woff?xqd22m') format('woff'),
      url('fonts/tower-pattern.svg?xqd22m#tower-pattern') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tower-pattern' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gas-mask:before {
    content: "\e91b";
  }
  .icon-mental-health:before {
    content: "\e91c";
  }
  .icon-hostage:before {
    content: "\e919";
  }
  .icon-terrorist1:before {
    content: "\e91a";
  }
  .icon-battle:before {
    content: "\e918";
  }
  .icon-suspicious-object:before {
    content: "\e913";
  }
  .icon-terrorism:before {
    content: "\e916";
  }
  .icon-inside:before {
    content: "\e914";
  }
  .icon-outside:before {
    content: "\e915";
  }
  .icon-settings:before {
    content: "\e917";
  }
  .icon-communication-lines:before {
    content: "\e911";
  }
  .icon-communication-dots:before {
    content: "\e912";
  }
  .icon-group2:before {
    content: "\e910";
  }
  .icon-calendar:before {
    content: "\e90b";
  }
  .icon-meeting-3:before {
    content: "\e90c";
  }
  .icon-presentation:before {
    content: "\e90d";
  }
  .icon-communication-press:before {
    content: "\e90e";
  }
  .icon-meeting-2:before {
    content: "\e90f";
  }
  .icon-shake-hands:before {
    content: "\e909";
  }
  .icon-lets-talk:before {
    content: "\e90a";
  }
  .icon-teasing-boy:before {
    content: "\e908";
  }
  .icon-rope-thick:before {
    content: "\e906";
  }
  .icon-rope:before {
    content: "\e907";
  }
  .icon-fraud:before {
    content: "\e901";
  }
  .icon-evacuation-dark:before {
    content: "\e903";
  }
  .icon-evacuation:before {
    content: "\e904";
  }
  .icon-check:before {
    content: "\e900";
  }
  .icon-thief:before {
    content: "\e902";
  }
  .icon-skull:before {
    content: "\e606";
  }
  .icon-user3:before {
    content: "\e607";
  }
  .icon-medicine:before {
    content: "\e608";
  }
  .icon-lightning:before {
    content: "\e609";
  }
  .icon-droplet2:before {
    content: "\e60a";
  }
  .icon-tag-stroke:before {
    content: "\e60b";
  }
  .icon-tag-fill:before {
    content: "\e60c";
  }
  .icon-chat:before {
    content: "\e60d";
  }
  .icon-tag:before {
    content: "\e60e";
  }
  .icon-tag2:before {
    content: "\e60f";
  }
  .icon-warning:before {
    content: "\e610";
  }
  .icon-bomb:before {
    content: "\e611";
  }
  .icon-injection:before {
    content: "\e612";
  }
  .icon-chat2:before {
    content: "\e613";
  }
  .icon-truck2:before {
    content: "\e614";
  }
  .icon-bus:before {
    content: "\e615";
  }
  .icon-local_taxi:before {
    content: "\e616";
  }
  .icon-paperplane:before {
    content: "\e617";
  }
  .icon-send:before {
    content: "\e618";
  }
  .icon-ruler:before {
    content: "\e619";
  }
  .icon-enter:before {
    content: "\e61a";
  }
  .icon-exit:before {
    content: "\e61b";
  }
  .icon-pencil:before {
    content: "\e61c";
  }
  .icon-image:before {
    content: "\e61d";
  }
  .icon-images:before {
    content: "\e61e";
  }
  .icon-book:before {
    content: "\e61f";
  }
  .icon-books:before {
    content: "\e620";
  }
  .icon-file:before {
    content: "\e621";
  }
  .icon-copy:before {
    content: "\e622";
  }
  .icon-stack:before {
    content: "\e623";
  }
  .icon-folder:before {
    content: "\e624";
  }
  .icon-folder-open:before {
    content: "\e625";
  }
  .icon-notebook:before {
    content: "\e626";
  }
  .icon-disk:before {
    content: "\e627";
  }
  .icon-user:before {
    content: "\e628";
  }
  .icon-search:before {
    content: "\e629";
  }
  .icon-key:before {
    content: "\e62a";
  }
  .icon-minus:before {
    content: "\e62b";
  }
  .icon-plus:before {
    content: "\e62c";
  }
  .icon-arrow-up:before {
    content: "\e62d";
  }
  .icon-arrow-right:before {
    content: "\e62e";
  }
  .icon-arrow-down:before {
    content: "\e62f";
  }
  .icon-arrow-left:before {
    content: "\e630";
  }
  .icon-bold:before {
    content: "\e631";
  }
  .icon-underline:before {
    content: "\e632";
  }
  .icon-italic:before {
    content: "\e633";
  }
  .icon-paragraph-left:before {
    content: "\e634";
  }
  .icon-paragraph-center:before {
    content: "\e635";
  }
  .icon-paragraph-right:before {
    content: "\e636";
  }
  .icon-list:before {
    content: "\e637";
  }
  .icon-numbered-list:before {
    content: "\e638";
  }
  .icon-menu:before {
    content: "\e639";
  }
  .icon-menu2:before {
    content: "\e63a";
  }
  .icon-print:before {
    content: "\e63b";
  }
  .icon-remove:before {
    content: "\e63c";
  }
  .icon-link:before {
    content: "\e63d";
  }
  .icon-scissors:before {
    content: "\e63e";
  }
  .icon-close:before {
    content: "\e63f";
  }
  .icon-pencil2:before {
    content: "\e640";
  }
  .icon-undo:before {
    content: "\e641";
  }
  .icon-redo:before {
    content: "\e642";
  }
  .icon-file-xml:before {
    content: "\e643";
  }
  .icon-file-css:before {
    content: "\e644";
  }
  .icon-html5:before {
    content: "\e645";
  }
  .icon-css3:before {
    content: "\e646";
  }
  .icon-mail:before {
    content: "\e647";
  }
  .icon-indent-increase:before {
    content: "\e648";
  }
  .icon-indent-decrease:before {
    content: "\e649";
  }
  .icon-table:before {
    content: "\e64a";
  }
  .icon-paste:before {
    content: "\e64b";
  }
  .icon-spoon-knife:before {
    content: "\e64c";
  }
  .icon-opt:before {
    content: "\e64d";
  }
  .icon-compass:before {
    content: "\e64e";
  }
  .icon-wrench:before {
    content: "\e64f";
  }
  .icon-cogs:before {
    content: "\e650";
  }
  .icon-truck:before {
    content: "\e651";
  }
  .icon-phone:before {
    content: "\e652";
  }
  .icon-bell:before {
    content: "\e653";
  }
  .icon-aid-kit:before {
    content: "\e654";
  }
  .icon-fire:before {
    content: "\e655";
  }
  .icon-warning2:before {
    content: "\e656";
  }
  .icon-file-text2:before {
    content: "\e926";
  }
  .icon-drawer:before {
    content: "\e95c";
  }
  .icon-user2:before {
    content: "\e600";
  }
  .icon-group:before {
    content: "\e601";
  }
  .icon-user-md:before {
    content: "\e602";
  }
  .icon-ambulance:before {
    content: "\e603";
  }
  .icon-h-square:before {
    content: "\e604";
  }
  .icon-plus-square:before {
    content: "\e605";
  }
  .icon-home:before {
    content: "\e905";
  }
  .icon-eye-blocked:before {
    content: "\e9d1";
  }